@charset 'utf-8';

@font-face {
  font-family: 'SamsungOne';
  src: url('../fonts/SamsungOneKorean-400.woff2') format('woff2'),
  url('../fonts/SamsungOneKorean-400.woff') format('woff'),
  url('../fonts/SamsungOneKorean-400.ttf') format('truetype'),
  url('../fonts/SamsungOneKorean-400.eot') format('embedded-opentype');
  font-weight: 400;
  font-weight: normal;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('../fonts/SamsungOneKorean-700.woff2') format('woff2'),
  url('../fonts/SamsungOneKorean-700.woff') format('woff'),
  url('../fonts/SamsungOneKorean-700.ttf') format('truetype'),
  url('../fonts/SamsungOneKorean-700.eot') format('embedded-opentype');
  font-weight: 700;
  font-weight: bold;
}

@font-face {
  font-family: 'SamsungSharpSansBd';
  src: url('../fonts/SamsungSharpSansBd.woff2') format('woff2'),
  url('../fonts/SamsungSharpSansBd.woff') format('woff'),
  url('../fonts/SamsungSharpSansBd.eot') format('embedded-opentype');
  font-weight: bold;
}

.font-samsung { font-family: 'SamsungOne' !important; }
.font-samsung-bold { font-weight: 700 !important; }
.font-samsung-ssb { font-family: 'SamsungSharpSansBd' !important; letter-spacing: 0;}
